@media screen and (max-width: 426px){
  nav {
    height: 110px;
  }
  .inside #map-container, #restaurant-container {
    padding: 160px 0 0;
  }

  .right {
    font-size: 1.1em;
    padding: 5px;
  }
   

}

@media screen and (min-width: 900px) {
  #restaurant-container {
    display: flex;
  }

  #restaurant-left, #restaurant-right {
    width: 50%;
  }

  #restaurant-right {
    padding: 80px;
  }
  #reviews-list {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f3f3f3;
    grid-gap: 20px;
  }
}