@media screen and (min-width: 442px){
  nav {
    height: 80px;
  }
  .inside #map-container, #restaurant-container {
    padding: 130px 0 0;
  }

  .right {
    font-size: 1.1em;
    padding: 5px;
  }
   

}

@media screen and (min-width: 700px) {
  #restaurants-list {
    grid-template-columns: auto auto;
  }
  #reviews-list {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f3f3f3;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 950px) {
  #restaurant-container {
    display: flex;
  }

  #restaurant-left, #restaurant-right {
    width: 50%;
  }

  #restaurant-right {
    padding: 80px;
  }
  #reviews-list {
    
    grid-template-columns: auto auto auto;
    
  }

  #restaurants-list {
    grid-template-columns: auto auto auto;
  }
}
